Task 1: 
1.  Install Jupyter notebook and run the first program and share the screenshot of the output
Jupyter note is installed hence writing the first program.

In [1]:
print("Machinelearning classes are very good sessions and very interactive")

Machinelearning classes are very good sessions and very interactive

2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [7]:
#print the heading
print("numbers between 2000 to 3200 which are divisible by 7 but not multiples of 5 are:")
#write the required logic
for number in range (2000,3200):
    if number%7 == 0 :
      if number%5 != 0 :
        print(number,',',end='')

numbers between 2000 to 3200 which are divisible by 7 but not multiples of 5 are:
2002 ,2009 ,2016 ,2023 ,2037 ,2044 ,2051 ,2058 ,2072 ,2079 ,2086 ,2093 ,2107 ,2114 ,2121 ,2128 ,2142 ,2149 ,2156 ,2163 ,2177 ,2184 ,2191 ,2198 ,2212 ,2219 ,2226 ,2233 ,2247 ,2254 ,2261 ,2268 ,2282 ,2289 ,2296 ,2303 ,2317 ,2324 ,2331 ,2338 ,2352 ,2359 ,2366 ,2373 ,2387 ,2394 ,2401 ,2408 ,2422 ,2429 ,2436 ,2443 ,2457 ,2464 ,2471 ,2478 ,2492 ,2499 ,2506 ,2513 ,2527 ,2534 ,2541 ,2548 ,2562 ,2569 ,2576 ,2583 ,2597 ,2604 ,2611 ,2618 ,2632 ,2639 ,2646 ,2653 ,2667 ,2674 ,2681 ,2688 ,2702 ,2709 ,2716 ,2723 ,2737 ,2744 ,2751 ,2758 ,2772 ,2779 ,2786 ,2793 ,2807 ,2814 ,2821 ,2828 ,2842 ,2849 ,2856 ,2863 ,2877 ,2884 ,2891 ,2898 ,2912 ,2919 ,2926 ,2933 ,2947 ,2954 ,2961 ,2968 ,2982 ,2989 ,2996 ,3003 ,3017 ,3024 ,3031 ,3038 ,3052 ,3059 ,3066 ,3073 ,3087 ,3094 ,3101 ,3108 ,3122 ,3129 ,3136 ,3143 ,3157 ,3164 ,3171 ,3178 ,3192 ,3199 ,

3.Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [14]:
#Accept the first name
firstname = input("enter your first name:")
#Accept the second name
lastname  = input("enter your last name:")
#initialize space value
space = ' '
#merge both the strings by spaces. 
fullname = firstname[::-1]+space+lastname[::-1]
print('full name in reverse order',fullname)

enter your first name:Sharanabasava
enter your last name:Ellgode
full name in reverse order avasabanarahS edogllE

4.Write a Python program to find the volume of a sphere with diameter 12 cm.  
Formula: V=4/3 * Ï€ * r 3

In [26]:
#initialize
pai = int(3.14)
r = int(12)
#formula to be used
v = (((4%3)*(pai))*(r**3))
#print the value of v.
print(v)

5184

Task 2:  
1.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [34]:
number = input("enter the sequence of number with comma seperated")
#display number accepted.
print("numbers provided by the user :",number)
#use the split function which returns a list
list = number.split(",")
#print the list
print("list content are",list)

enter the sequence of number with comma seperated10,20,30,40,50
numbers provided by the user : 10,20,30,40,50
list content are ['10', '20', '30', '40', '50']

2.Create the below pattern using nested for loop in Python.

In [1]:
#for printing starts in ascending order
for i in range(0,5) :
    for j in range(0,i+1) :
        print('*',end='')
    print('\r')
#for printing starts in descending order
for k in range(0,5):
    for l in range(0,5-k):
       print('*',end='')
    print('\r')

*
**
***
****
*****
*****
****
***
**
*

3.Write a Python program to reverse a word after accepting the input from the user. 
Input word: AcadGild Output: dilGdacA

In [4]:
inputword = input("enter a word")
outputword = inputword[::-1]
print("reverse of word entered",outputword)

enter a wordAcadGild
reverse of word entered dliGdacA

4. Write a Python Program to print the given string in the format specified in the sample output. 
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens 
Sample Output: 
WE, THE PEOPLE OF INDIA,   
     having solemnly resolved to constitute India into a SOVEREIGN, !  
      SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC    
        and to secure to all its citizens

In [19]:
print('WE,THE PEOPLE OF INDIA,\nhaving solemnly resolved to constitute India into a SOVEREIGN,\t!\nSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n and to secure to all its citizens')

WE,THE PEOPLE OF INDIA,
having solemnly resolved to constitute India into a SOVEREIGN,	!
SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
 and to secure to all its citizens